---
title: Qaclana
description: Qaclana is a modern, open source Web Application Firewall. Security is something that should be easy to adopt, be it by big corporations with a dedicated security team, or a one-person web shops.
layout: default
---        
        {% include header.html %}
        {% include banner.html %}
        {% include about.html %}
        {% include resilient.html %}
        {% include scalable.html %}
        {% include open-source.html %}
        {% include more-info.html %}
        {% include come-help.html%}