			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="https://gitlab.com/qaclana/www.qaclana.io/raw/bdea55849cf47187c0847968a39abe26cab520fc/assets/images/banner.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="align-center">
									<p>Qaclana is an open source project, aimed to creating a modern Web Application Firewall in the open. We believe that security is something that should be easy to adopt, be it by big corporations with a dedicated security team, be it by one-person web shops.</p>
									<p>At this stage, there's no company behind Qaclana and it's being financially supported by the project's founder.</p>
								</div>
							</div>
						</div>
					</div>
				</section>