<!-- five -->
				<section id="five" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
						    <img class="image image-icon" src="{{ site.url }}/images/icon_1.png">
							<p><span class="logo">Qaclana</span> is split into several modules, each with its own capabilities.</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="6u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-cog"></span>
									<h3>Flexible</h3>
									<p>You choose how to use Qaclana: at or behind your SSL termination point, all-in-one or with each component on its own box, on containers or bare metals, ...</p>
								</section>
								<section class="6u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-database"></span>
									<h3>Protects your backend</h3>
									<p><span class="logo">Qaclana</span> compares the source of the request against common attack databases, blocking it before it even reaches your backend. It also learns how your website behaves, protecting it from data leaks.</p>
								</section>
								<section class="6u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-tachometer"></span>
									<h3>Intuitive dashboard</h3>
									<p>Get an insight into what's going on in security terms on your website. Get to know how many attack attempts there are, in real time. Enable, disable or switch working modes for your whole farm with a single click.</p>
								</section>
								<section class="6u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-fighter-jet"></span>
									<h3>Fast</h3>
									<p>A few milliseconds is all <span class="logo">Qaclana</span> needs to decide whether or not to block a request and keep your site or service secure. Generally, <span class="logo">Qaclana</span> is done in under 50ms.</p>
								</section>
							</div>
						</div>
					</div>
				</section>