			<!-- Two -->
				<section id="four" class="spotlight style4 right">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/open-source.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Open Source</h2>
							<p>We believe this is the only reasonable way a security product can be trusted.</p>
						</header>
						<p>Being open source means that anyone can use it for free, anyone can inspect and audit it, and anyone can contribute new features and bug fixes.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/getting-started" class="button">Learn More</a></li>
						</ul>
					</div>
				</section>