			<!-- Two -->
				<section id="resilient" class="spotlight style2 right">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/resilient.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Resilient</h2>
							<p>The proxy and filters are able to work without a server, based on the last good known information.</p>
						</header>
						<p>Once the server is available again, the proxies and filters resumes the communication. This means that your site or service is always available and protected, no matter what.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/getting-started" class="button">Learn More</a></li>
						</ul>
					</div>
				</section>