			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="https://images.pexels.com/photos/15798/night-computer-hdd-hard-drive.jpg?w=1260&h=750" alt="" /></span>
					<div class="content">
						<header>
							<h2>Resilient</h2>
							<p>The proxy and filters are able to work without a server, based on the last good known information.</p>
						</header>
						<p>Once the server is available again, the proxies and filters resumes the communication. This means that your site or service is always available and protected, no matter what.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}/getting-started" class="button">Learn More</a></li>
						</ul>
					</div>
				</section>