			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ site.url }}{{ site.baseurl }}/images/scalable.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Scalable</h2>
							<p>Architected in a way that has, from day 1, support for multiple instances of the proxy, filter and server.</p>
						</header>
						<p>This means that <span class="logo">Qaclana</span> can be used in highly available scenarios, able to scale the parts that needs scaling for your specific scenario.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/getting-started" class="button">Learn More</a></li>
						</ul>
					</div>
				</section>